<button id="controlPanelOpen">Design</button>
<div id="dialog" title="Theme Options">
  <div id="accordion">
    
    <a href="#designPanel" title="design panel" name="" class="design accordionH3">Design</a>
    <div>
      
      <div id="navSliderPanel">
        
        <div class="slideArea">
          <div class="panel-menu layoutsNavPanel">
            <div class="panel-icon layout-icon">&nbsp;</div>
            <a href="#layouts" >Layouts</a>
            <p class="controller-panel-nav-description">Select a page structure</p>
          </div>
          <div class="panel-menu backgroundsNavPanel">
            <div class="panel-icon background-icon">&nbsp;</div>
            <a href="#backgrounds">Backgrounds</a>
            <p class="controller-panel-nav-description">Customize your portfolio background</p>
          </div>
          <div class="panel-menu logosNavPanel">
            <div class="panel-icon logo-icon">&nbsp;</div>
            <a href="#logos">Logos</a>
            <p class="controller-panel-nav-description">Upload your custom logo</p>
          </div>
          <div class="panel-menu fontsNavPanel">
            <div class="panel-icon font-icon">&nbsp;</div>
            <a href="#fonts">Fonts</a>
            <p class="controller-panel-nav-description">Choose different font</p>
          </div>

        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Layouts</a>
            <p class="controller-panel-nav-description">Select a page structure</p>
          </div>
          
          <div href="#" class="available subPanelButton">Available</div>
          <div href="#" class="options subPanelButton">Options</div>
          
          <div id="layoutSub" class="subPanel">
            <div> <!-- subPanel 1-->
          		<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
            		<div class="rowfield">
            			<div class="row fview">
            			  <% if @user.layout_name == "Default" %>
            			    <%= image_tag 'img/layouts/default.png', :class=> 'defaultLayout layoutIcon current' %>
            			  <% else %>
            			    <%= image_tag 'img/layouts/default.png', :class=> 'defaultLayout layoutIcon doReload' %>
            			  <% end %>
            			  
            			  <% if @user.layout_name == "Layout 2" %>
            				  <%= image_tag 'img/layouts/layout-2.png', :class=> 'layout2 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-2.png', :class=> 'layout2 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 3" %>
            				  <%= image_tag 'img/layouts/layout-3.png', :class=> 'layout3 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-3.png', :class=> 'layout3 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 4" %>
            				  <%= image_tag 'img/layouts/layout-4.png', :class=> 'layout4 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-4.png', :class=> 'layout4 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 5" %>
              				<%= image_tag 'img/layouts/layout-5.png', :class=> 'layout5 layoutIcon current' %>
              			<% else%>
              				<%= image_tag 'img/layouts/layout-5.png', :class=> 'layout5 layoutIcon doReload' %>
              			<% end %>
            				<%= f.hidden_field :portfolio_layout, :class=> 'isvisible layoutVal' %>
            				
            				<br class="clear" />
            			</div>
            		</div>
          		<% end %>
      		  </div> <!-- subPanel 1 end-->
      		  <div> <!-- subPanel 2-->
      		    <div class="panel-menu">
        		    <h3 class="subMenuTitle">Margin Top</h3>
                <label>Font Size</label>
                <div id="marginSliderTop" class="slider marginSlider"></div>
                <span class="marginTopValue">12</span>px
                
        		    <h3 class="subMenuTitle">Margin Bottom</h3>
                <label>Font Size</label>
                <div id="marginSliderBottom" class="slider marginSlider"></div>
                <span class="marginBottomValue">12</span>px
              </div>
              <div class="panel-menu">
                 <h3 class="subMenuTitle">Project Description</h3>
                 <textarea class="wysiwyg" name="input">Write your content here.</textarea>
              </div>
      		  </div> <!-- subPanel 2 end-->
      		</div> <!-- .subPanel -->
      		
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Backgrounds</a>
            <p class="controller-panel-nav-description">Customize your portfolio background</p>
          </div>
          
          <div class="panel-menu">
      	    <% if @user.portfolio_bg.present? %>
      	      <% portfolio_bg = @user.portfolio_bg %>
      	    <% else %>
      	      <% portfolio_bg = "ffffff" %>
      	    <% end %>
        	  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect" }) do |f| %>
          		<div class="rowfield">
          			<div class="row fview">
            	    <%= content_tag(:p, "Color:", :class => "tiny label") %>
            	    <%= f.hidden_field :portfolio_bg, :class => "project_bg_val", :value => portfolio_bg %>
            	    <div id="colorSelector" class="cpicker"><div style="background-color: #<%= portfolio_bg %>"></div></div>            	
                </div>
              </div>
        	  <% end %>
      	  </div>
      	  
    	    <div class="panel-menu">
            <label>Image:</label>
            <div id="backgroundTexturesScrollableP" class="backgroundTextures">
              <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgImg" }) do |f| %>
                <%= f.hidden_field :background_image, :class => "background_image_val", :value => "" %>
              <% end %>
              <div id="sliderThemeThumb"></div> 
              <div id="texturesContent">
                <div class="backgroundTexture wrap" id="tileable_wood_texture.png" >
                  <img src="/assets/styles/patterns/tileable_wood_texture.png" alt="wooden" class="woodBg textureThumb" />
                </div>
                <div class="backgroundTexture wrap" id="dark_geometric.png">
                  <img src="/assets/styles/patterns/dark_geometric.png" alt="dark geometric" class="darkBg textureThumb" />
                </div>
                <div class="backgroundTexture wrap" id="ice_age.png">
                  <img src="/assets/styles/patterns/ice_age.png" alt="ice age" class="ice_age textureThumb" />
                </div>
                <div class="backgroundTexture wrap" id="perforated_white_leather.png">
                  <img src="/assets/styles/patterns/perforated_white_leather.png" alt="perforated white leather" class="perforated_white_leather textureThumb" />
                </div>
                <div class="backgroundTexture wrap" id="white_leather.png">
                  <img src="/assets/styles/patterns/white_leather.png" alt="white leather" class="white_leather textureThumb" />
                </div> <!-- 5 -->
                
                <div class="backgroundTexture wrap" id="blu_stripes.png">
                  <img src="/assets/styles/patterns/blu_stripes.png" alt="blu stripes" class="blu_stripes textureThumb" />
                </div>
                <div class="backgroundTexture wrap" id="classy_fabric.png">
                  <img src="/assets/styles/patterns/classy_fabric.png" alt="classy fabric" class="classy_fabric textureThumb" />
                </div>
                <div class="backgroundTexture wrap cutcube" id="cutcube.png">
                  <img src="/assets/styles/patterns/cutcube.png" alt="cutcube" class="cutcube textureThumb" />
                </div>
                <div class="backgroundTexture wrap fake_luxury" id="fake_luxury.png">
                  <img src="/assets/styles/patterns/fake_luxury.png" alt="fake luxury" class="fake_luxury textureThumb" />
                </div>
                <div class="backgroundTexture wrap farmer" id="farmer.png">
                  <img src="/assets/styles/patterns/farmer.png" alt="farmer" class="farmer textureThumb" />
                </div> <!-- 10 -->
                
                <div class="backgroundTexture wrap grey_sandbag" id="grey_sandbag.png">
                  <img src="/assets/styles/patterns/grey_sandbag.png" alt="grey sandbag" class="grey_sandbag textureThumb" />
                </div>
                <div class="backgroundTexture wrap paper" id="paper.png">
                  <img src="/assets/styles/patterns/paper.png" alt="paper" class="paper textureThumb" />
                </div>
                <div class="backgroundTexture wrap soft_pad" id="soft_pad.png">
                  <img src="/assets/styles/patterns/soft_pad.png" alt="soft pad" class="soft_pad textureThumb" />
                </div>
                <div class="backgroundTexture wrap subtle_zebra_3d" id="subtle_zebra_3d.png">
                  <img src="/assets/styles/patterns/subtle_zebra_3d.png" alt="subtle zebra 3d" class="subtle_zebra_3d textureThumb" />
                </div>
                <div class="backgroundTexture wrap texturetastic_gray" id="texturetastic_gray.png">
                  <img src="/assets/styles/patterns/texturetastic_gray.png" alt="texturetastic gray" class="texturetastic_gray textureThumb" />
                </div> <!-- 15 -->
                
                <div class="backgroundTexture wrap black_thread" id="black_thread.png">
                  <img src="/assets/styles/patterns/black_thread.png" alt="black thread" class="black_thread textureThumb" />
                </div>
                <div class="backgroundTexture wrap dark_matter" id="dark_matter.png">
                  <img src="/assets/styles/patterns/dark_matter.png" alt="dark matter" class="dark_matter textureThumb" />
                </div>
                <div class="backgroundTexture wrap darkdenim3" id="darkdenim3.png">
                  <img src="/assets/styles/patterns/darkdenim3.png" alt="darkdenim3" class="darkdenim3 textureThumb" />
                </div>
                <div class="backgroundTexture wrap dvsup" id="dvsup.png">
                  <img src="/assets/styles/patterns/dvsup.png" alt="dvsup" class="dvsup textureThumb" />
                </div>
                <div class="backgroundTexture wrap fabric_plaid" id="fabric_plaid.png">
                  <img src="/assets/styles/patterns/fabric_plaid.png" alt="fabric plaid" class="fabric_plaid textureThumb" />
                </div> <!-- 20 -->
                
                <div class="backgroundTexture wrap gridme" id="gridme.png">
                  <img src="/assets/styles/patterns/gridme.png" alt="gridme" class="gridme textureThumb" />
                </div>
                <div class="backgroundTexture wrap hixs_pattern_evolution" id="hixs_pattern_evolution.png">
                  <img src="/assets/styles/patterns/hixs_pattern_evolution.png" alt="hixs pattern evolution" class="hixs_pattern_evolution textureThumb" />
                </div>
                <div class="backgroundTexture wrap knitted-netting" id="knitted-netting.png">
                  <img src="/assets/styles/patterns/knitted-netting.png" alt="knitted netting" class="knitted-netting textureThumb" />
                </div>
                <div class="backgroundTexture wrap quilt" id="quilt.png">
                  <img src="/assets/styles/patterns/quilt.png" alt="quilt" class="quilt textureThumb" />
                </div>
                <div class="backgroundTexture wrap vertical_cloth" id="vertical_cloth.png">
                  <img src="/assets/styles/patterns/vertical_cloth.png" alt="vertical cloth" class="vertical_cloth textureThumb" />
                </div> <!-- 25 -->
                
                <div class="backgroundTexture wrap white_brick_wall" id="white_brick_wall.png">
                  <img src="/assets/styles/patterns/white_brick_wall.png" alt="white brick wall" class="white_brick_wall textureThumb" />
                </div>
                <!-- 
                <div class="backgroundTexture wrap" id="cutcube.png">
                  <img src="/assets/styles/patterns/cutcube.png" alt="cutcube" class="cutcube textureThumb" />
                </div>
                # -->
                <br class="clear" />
              </div> <!-- end #texturesContent -->     
                      
            </div> <!-- end #backgroundTexturesScrollerP -->
          </div> <!-- end .panel-menu -->
          
          <div class="panel-menu">
            <label>Repeat</label>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgRepeat" }) do |f| %>
              <%= f.hidden_field :background_repeat, :class => "background_repeat_val", :value => "" %>
            <% end %>
            <select name="backgroundRepeat" id="backgroundRepeat" class="background">
              <option value="no-repeat">No Repeat</option>
              <option value="repeat-x">Repeat Horizontal</option>
              <option value="repeat-y">Repeat Vertical</option>
              <option value="repeat">Repeat Both</option>
            </select>
          </div>
          
          <div class="panel-menu">
            <label>Position</label>
            <label>Horinzontal Alignment</label>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgPositionH" }) do |f| %>
              <%= f.hidden_field :background_pos_h, :class => "background_positionH_val", :value => "" %>
            <% end %>
            <select name="backgroundPositionH" id="backgroundPositionH" class="background position">
              <option value="left">Left</option>
              <option value="center">Center</option>
              <option value="right">Right</option>
            </select>
            
            <label>Vertical Alignment</label>
           <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgPositionV" }) do |f| %>
              <%= f.hidden_field :background_pos_v, :class => "background_positionV_val", :value => "" %>
            <% end %>
            <select name="backgroundPositionV" id="backgroundPositionV" class="background position">
              <option value="top">Top</option>
              <option value="center">Center</option>
              <option value="bottom">Bottom</option>
            </select>
          </div>
          
          <div class="panel-menu">
            <label>Attachment</label>
           <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgAttachment" }) do |f| %>
              <%= f.hidden_field :background_attachment, :class => "background_attachment_val", :value => "" %>
            <% end %>
            <select name="backgroundAttachment" id="backgroundAttachment" class="background">
              <option value="scroll">Scroll</option>
              <option value="fixed">Fixed</option>
            </select>
          </div>
          
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Logos</a>
            <p class="controller-panel-nav-description">Upload your custom logo</p>
          </div>
          <!-- LOGO FOR THE PORTFOLIO -->	
          <% if @user.logo.url.nil? #if user logo is not set %>
            <p class="label tiny">Upload Image: tempo for logo</p>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
              <%= f.file_field :logo %>
              	<p class="action">
            	  <%= submit_tag("Save", :class => 'save')  %>
            	</p>
            <% end %>
          <% else #if user logo is set %>
            <div class="form-wrap image">
            	<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
            	  <div class="rowfield">
            		<div class="edit-btn">Edit</div>
            		<p class="label tiny">Custom Logo: </p>
            		<%= image_tag(@user.logo.url(:thumb).to_s, :width => 200) %>
            	  </div>
            	  <div class="row fedit">
            	  	<%= content_tag(:p, "Custom Logo /", :class => "tiny") %>
            		<%= f.file_field :logo %>
            		<p class="action">
            		  <%= submit_tag("Save", :class => 'save')  %>
            		  <%= link_to("Cancel", '#', :class => 'fcancel')  %>
            		</p>
            	  </div>
            	<% end %>
            </div> <!-- END .form-wrap -->
          <% end # end of if @user.logo.url.nil?%>
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Fonts</a>
            <p class="controller-panel-nav-description">Choose different font</p>
          </div>
          
          <div class="panel-menu">
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
              <label for="fontFamily">Font Family</label>
              <%= f.hidden_field :font_face, :class => "font_face_val", :value => "" %>
              <select name="fontFamily" id="fontFamily" class="fonts">
                <option value="Montserrat">Montserrat</option>
                <option value="Asap">Asap</option>
                <option value="Chivo">Chivo</option>
                <option value="Rosario">Rosario</option>
                <option value="Sansita+One">Sansita One</option>
                <option value="Unna">Unna</option>
              </select>
            <% end %>
          </div>
          
          <div class="panel-menu">
      	    <% if @user.font_color.present? %>
      	      <% font_color = @user.font_color %>
      	    <% else %>
      	      <% font_color = "000000" %>
      	    <% end %>
        	  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
          		<div class="rowfield">
          			<div class="row fview">
            	    <%= f.label(:font_color)%>
            	    <%= f.hidden_field :font_color, :class => "font_color_val", :value => font_color %>
            	    <div id="colorSelectorFont" class="cpicker"><div style="background-color: #<%= font_color %>"></div></div>
                </div>
              </div>
        	  <% end %>
          </div>
          
          <div class="panel-menu">
      	    <% if @user.font_size.present? %>
      	      <% font_size = @user.font_size %>
      	    <% else %>
      	      <% font_size = 12 %>
      	    <% end %>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
              <label>Font Size</label>
              <div id="slider"></div>
              <span class="fontSize"><%= font_size %></span>px
              <%= f.hidden_field :font_size, :class => "font_size_val", :value => font_size %>
            <% end %>
          </div>
          
        </div>
        
        
      </div> <!-- #navSliderPanel -->
      
    </div>
    
    <a href="#aboutPanel" title="about panel" name="" class="about accordionH3">About</a>
    <div> <!-- accordion panel start -->
      <h3>About</h3>
      <textarea class="wysiwyg" name="input">Write your content here.</textarea>
    </div> <!-- accordion panel end -->



    <a href="#footerPanel" title="footer panel" name="" class="footer accordionH3">Footer</a>
    <div> <!-- accordion -->
      <!-- form_for(:user -->
	    <% if @user.footer_bg.present? %>
	      <% footer_bg = @user.footer_bg %>
	    <% else %>
	      <% footer_bg = "000000" %>
	    <% end %>
      <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
  		<div class="rowfield">
  			<div class="row fview">
          	    <%= f.label(:footer_bg, "Footer Background Colour:") %>
          	    <div id="colorSelectorFooter" class="cpicker"><div style="background-color: #<%= footer_bg %>"></div></div>
          	    <%= f.hidden_field :footer_bg, :class => "footer_bg_val", :value => footer_bg %>
        </div>
      </div>   
      <% end %>         
    </div> <!-- accordion panel end -->
  </div> <!-- #accordion -->
    
</div>  <!-- #dialog -->

<% content_for(:head) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      
      var scrollPane = $( "#backgroundTexturesScrollableP" ), scrollContent = $( "#texturesContent" );
		
  		//build slider
  		var scrollbar = $( "#sliderThemeThumb" ).slider({
  		  orientation: "vertical",
  		  value: 100,
  			slide: function( event, ui ) {
  				if ( scrollContent.height() > scrollPane.height() ) {
  				  orientation: "vertical",
  					scrollContent.css( "margin-top", Math.round(
  						(100 - ui.value) / 100 * ( scrollPane.height() - scrollContent.height() )
  					) + "px" );
  				} else {
  					scrollContent.css( "margin-top", 0 );
  				}
  			}
  		});
      

		});
  </script>
<% end %>