<button id="controlPanelOpen">Design</button>
<div id="dialog" title="Theme Options">
  <div id="accordion">
    
    <a href="#designPanel" title="design panel" name="" class="design accordionH3">Design</a>
    <div>
      
      <div id="navSliderPanel">
        
        <div class="slideArea">
          <div class="panel-menu layoutsNavPanel">
            <div class="panel-icon layout-icon">&nbsp;</div>
            <a href="#layouts" >Layouts</a>
            <p class="controller-panel-nav-description">Select a page structure</p>
          </div>
          <div class="panel-menu backgroundsNavPanel">
            <div class="panel-icon background-icon">&nbsp;</div>
            <a href="#backgrounds">Backgrounds</a>
            <p class="controller-panel-nav-description">Customize your portfolio background</p>
          </div>
          <div class="panel-menu logosNavPanel">
            <div class="panel-icon logo-icon">&nbsp;</div>
            <a href="#logos">Logos</a>
            <p class="controller-panel-nav-description">Upload your custom logo</p>
          </div>
          <div class="panel-menu fontsNavPanel">
            <div class="panel-icon font-icon">&nbsp;</div>
            <a href="#fonts">Fonts</a>
            <p class="controller-panel-nav-description">Choose different font</p>
          </div>

        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Layouts</a>
            <p class="controller-panel-nav-description">Select a page structure</p>
          </div>
          
          <div href="#" class="available subPanelButton">Available</div>
          <div href="#" class="options subPanelButton">Options</div>
          
          <div id="layoutSub" class="subPanel">
            <div> <!-- subPanel 1-->
          		<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
            		<div class="rowfield">
            			<div class="row fview">
            			  <% if @user.layout_name == "Default" %>
            			    <%= image_tag 'img/layouts/default.png', :class=> 'defaultLayout layoutIcon current' %>
            			  <% else %>
            			    <%= image_tag 'img/layouts/default.png', :class=> 'defaultLayout layoutIcon doReload' %>
            			  <% end %>
            			  
            			  <% if @user.layout_name == "Layout 2" %>
            				  <%= image_tag 'img/layouts/layout-2.png', :class=> 'layout2 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-2.png', :class=> 'layout2 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 3" %>
            				  <%= image_tag 'img/layouts/layout-3.png', :class=> 'layout3 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-3.png', :class=> 'layout3 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 4" %>
            				  <%= image_tag 'img/layouts/layout-4.png', :class=> 'layout4 layoutIcon current' %>
            				<% else %>
            				  <%= image_tag 'img/layouts/layout-4.png', :class=> 'layout4 layoutIcon doReload' %>
            				<% end %>
            				
            				<% if @user.layout_name == "Layout 5" %>
              				<%= image_tag 'img/layouts/layout-5.png', :class=> 'layout5 layoutIcon current' %>
              			<% else%>
              				<%= image_tag 'img/layouts/layout-5.png', :class=> 'layout5 layoutIcon doReload' %>
              			<% end %>
            				<%= f.hidden_field :portfolio_layout, :class=> 'isvisible layoutVal' %>
            				
            				<br class="clear" />
            			</div>
            		</div>
          		<% end %>
      		  </div> <!-- subPanel 1 end-->
      		  <div> <!-- subPanel 2-->
      		    <div class="panel-menu">
        		    <h3 class="subMenuTitle">Margins</h3>
        		    
                <% if @user.margin_top.present? %>
                  <% margin_top = @user.margin_top.to_i %>
                <% else %>
                  <% margin_top = 12 %>
                <% end %>
        		    <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
                  <label>Top</label>
                  <div id="marginSliderTop" class="slider marginSlider"></div>
                  <span class="marginTopValue val_setter"><%= margin_top %></span>px
                  <%= f.hidden_field :margin_top, :class => "margin_top_val input_form_val", :value => :margin_top %>
                <% end %>
                
                <% if @user.margin_bottom.present? %>
                  <% margin_bottom = @user.margin_bottom.to_i %>
                <% else %>
                  <% margin_bottom = 12 %>
                <% end %>
                <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
                  <label>Bottom</label>
                  <div id="marginSliderBottom" class="slider marginSlider"></div>
                  <span class="marginBottomValue"><%= margin_bottom %></span>px
                  <%= f.hidden_field :margin_bottom, :class => "margin_bottom_val input_form_val", :value => :margin_bottom %>
                <% end %>
              </div>
              <div class="panel-menu">
                 <h3 class="subMenuTitle">Project Description</h3>
                 <textarea class="wysiwyg" name="input">Write your content here.</textarea>
              </div>
      		  </div> <!-- subPanel 2 end-->
      		</div> <!-- .subPanel -->
      		
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Backgrounds</a>
            <p class="controller-panel-nav-description">Customize your portfolio background</p>
          </div>
          
          <div href="#" class="color subPanelButton">Color</div>
          <div href="#" class="texture subPanelButton">Texture</div>
          <div href="#" class="upload subPanelButton">Upload</div>
          
          <div id="backgroundSub" class="subPanel">
            <div> <!-- subPanel 1-->
              <div class="panel-menu">
          	    <% if @user.portfolio_bg.present? %>
          	      <% portfolio_bg = @user.portfolio_bg %>
          	    <% else %>
          	      <% portfolio_bg = "ffffff" %>
          	    <% end %>
            	  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect" }) do |f| %>
              		<div class="rowfield">
              			<div class="row fview">
                	    <%= content_tag(:p, "Color:", :class => "tiny label") %>
                	    <%= f.hidden_field :portfolio_bg, :class => "project_bg_val", :value => portfolio_bg %>
                	    <div id="colorSelector" class="cpicker"><div style="background-color: #<%= portfolio_bg %>"></div></div>            	
                    </div>
                  </div>
            	  <% end %>
          	  </div>
          	  
          	  <!-- <p>Enable Image:</p> -->
          	  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect" }) do |f| %>
                <%= f.hidden_field :enable_background_image, :class => "enable_background_image_val", :value => "" %>
                <!--
                <select name="enable_background" id="enableBackgroundImage" class="background">
                  <% if @user.enable_background_image? %>
                    <option value="1" selected="selected">Yes</option>
                    <option value="0">No</option>
                  <% else %>
                    <option value="1">Yes</option>
                    <option value="0" selected="selected">No</option>
                  <% end %>
                </select>
                -->
        	    <% end %>
          	  
          	  
      		  </div> <!-- subPanel 1 end-->
      		  <div> <!-- subPanel 2-->
        	    <div class="panel-menu">
                <label>Image:</label>
                <div id="backgroundTexturesScrollableP" class="backgroundTextures">
                  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgImg" }) do |f| %>
                    <%= f.hidden_field :background_image, :class => "background_image_val", :value => "" %>
                  <% end %>
                  <div id="sliderThemeThumb"></div> 
                  <div id="texturesContent">
                    <div class="backgroundTexture wrap" id="tileable_wood_texture.png" >
                      <img src="/assets/styles/patterns/tileable_wood_texture.png" alt="wooden" class="woodBg textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap" id="dark_geometric.png">
                      <img src="/assets/styles/patterns/dark_geometric.png" alt="dark geometric" class="darkBg textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap" id="ice_age.png">
                      <img src="/assets/styles/patterns/ice_age.png" alt="ice age" class="ice_age textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap" id="perforated_white_leather.png">
                      <img src="/assets/styles/patterns/perforated_white_leather.png" alt="perforated white leather" class="perforated_white_leather textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap" id="white_leather.png">
                      <img src="/assets/styles/patterns/white_leather.png" alt="white leather" class="white_leather textureThumb" />
                    </div> <!-- 5 -->
                    
                    <div class="backgroundTexture wrap" id="blu_stripes.png">
                      <img src="/assets/styles/patterns/blu_stripes.png" alt="blu stripes" class="blu_stripes textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap" id="classy_fabric.png">
                      <img src="/assets/styles/patterns/classy_fabric.png" alt="classy fabric" class="classy_fabric textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap cutcube" id="cutcube.png">
                      <img src="/assets/styles/patterns/cutcube.png" alt="cutcube" class="cutcube textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap fake_luxury" id="fake_luxury.png">
                      <img src="/assets/styles/patterns/fake_luxury.png" alt="fake luxury" class="fake_luxury textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap farmer" id="farmer.png">
                      <img src="/assets/styles/patterns/farmer.png" alt="farmer" class="farmer textureThumb" />
                    </div> <!-- 10 -->
                    
                    <div class="backgroundTexture wrap grey_sandbag" id="grey_sandbag.png">
                      <img src="/assets/styles/patterns/grey_sandbag.png" alt="grey sandbag" class="grey_sandbag textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap paper" id="paper.png">
                      <img src="/assets/styles/patterns/paper.png" alt="paper" class="paper textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap soft_pad" id="soft_pad.png">
                      <img src="/assets/styles/patterns/soft_pad.png" alt="soft pad" class="soft_pad textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap subtle_zebra_3d" id="subtle_zebra_3d.png">
                      <img src="/assets/styles/patterns/subtle_zebra_3d.png" alt="subtle zebra 3d" class="subtle_zebra_3d textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap texturetastic_gray" id="texturetastic_gray.png">
                      <img src="/assets/styles/patterns/texturetastic_gray.png" alt="texturetastic gray" class="texturetastic_gray textureThumb" />
                    </div> <!-- 15 -->
                    
                    <div class="backgroundTexture wrap black_thread" id="black_thread.png">
                      <img src="/assets/styles/patterns/black_thread.png" alt="black thread" class="black_thread textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap dark_matter" id="dark_matter.png">
                      <img src="/assets/styles/patterns/dark_matter.png" alt="dark matter" class="dark_matter textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap darkdenim3" id="darkdenim3.png">
                      <img src="/assets/styles/patterns/darkdenim3.png" alt="darkdenim3" class="darkdenim3 textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap dvsup" id="dvsup.png">
                      <img src="/assets/styles/patterns/dvsup.png" alt="dvsup" class="dvsup textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap fabric_plaid" id="fabric_plaid.png">
                      <img src="/assets/styles/patterns/fabric_plaid.png" alt="fabric plaid" class="fabric_plaid textureThumb" />
                    </div> <!-- 20 -->
                    
                    <div class="backgroundTexture wrap gridme" id="gridme.png">
                      <img src="/assets/styles/patterns/gridme.png" alt="gridme" class="gridme textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap hixs_pattern_evolution" id="hixs_pattern_evolution.png">
                      <img src="/assets/styles/patterns/hixs_pattern_evolution.png" alt="hixs pattern evolution" class="hixs_pattern_evolution textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap knitted-netting" id="knitted-netting.png">
                      <img src="/assets/styles/patterns/knitted-netting.png" alt="knitted netting" class="knitted-netting textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap quilt" id="quilt.png">
                      <img src="/assets/styles/patterns/quilt.png" alt="quilt" class="quilt textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap vertical_cloth" id="vertical_cloth.png">
                      <img src="/assets/styles/patterns/vertical_cloth.png" alt="vertical cloth" class="vertical_cloth textureThumb" />
                    </div> <!-- 25 -->
                    
                    <div class="backgroundTexture wrap white_brick_wall" id="white_brick_wall.png">
                      <img src="/assets/styles/patterns/white_brick_wall.png" alt="white brick wall" class="white_brick_wall textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap foggy_birds" id="foggy_birds.png">
                      <img src="/assets/styles/patterns/foggy_birds.png" alt="foggy birds" class="foggy_birds textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap foil" id="foil.png">
                      <img src="/assets/styles/patterns/foil.png" alt="foil" class="foil textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap grilled" id="grilled.png">
                      <img src="/assets/styles/patterns/grilled.png" alt="grilled" class="grilled textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap groovepaper" id="groovepaper.png">
                      <img src="/assets/styles/patterns/groovepaper.png" alt="groovepaper" class="groovepaper textureThumb" />
                    </div> <!-- 30 -->
                    
                    <div class="backgroundTexture wrap irongrip" id="irongrip.png">
                      <img src="/assets/styles/patterns/irongrip.png" alt="irongrip" class="irongrip textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap merely_cubed" id="merely_cubed.png">
                      <img src="/assets/styles/patterns/merely_cubed.png" alt="merely cubed" class="merely_cubed textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap nami" id="nami.png">
                      <img src="/assets/styles/patterns/nami.png" alt="nami" class="nami textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap pineapplecut" id="pineapplecut.png">
                      <img src="/assets/styles/patterns/pineapplecut.png" alt="pineapplecut" class="pineapplecut textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap starring" id="starring.png">
                      <img src="/assets/styles/patterns/starring.png" alt="starring" class="starring textureThumb" />
                    </div> <!-- 35 -->
                    
                    <div class="backgroundTexture wrap broken_noise" id="broken_noise.png">
                      <img src="/assets/styles/patterns/broken_noise.png" alt="broken_noise" class="broken_noise textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap denim" id="denim.png">
                      <img src="/assets/styles/patterns/denim.png" alt="denim" class="denim textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap white_paperboard" id="white_paperboard.png">
                      <img src="/assets/styles/patterns/white_paperboard.png" alt="white paperboard" class="white_paperboard textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap white_plaster" id="white_plaster.png">
                      <img src="/assets/styles/patterns/white_plaster.png" alt="white_plaster" class="white_plaster textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap whitediamond" id="whitediamond.png">
                      <img src="/assets/styles/patterns/whitediamond.png" alt="whitediamond" class="whitediamond textureThumb" />
                    </div> <!-- 40 -->
                    
                    <div class="backgroundTexture wrap wood_pattern" id="wood_pattern.png">
                      <img src="/assets/styles/patterns/wood_pattern.png" alt="wood pattern" class="wood_pattern textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap batthern" id="batthern.png">
                      <img src="/assets/styles/patterns/batthern.png" alt="batthern" class="batthern textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap carbon_fibre_big" id="carbon_fibre_big.png">
                      <img src="/assets/styles/patterns/carbon_fibre_big.png" alt="carbon fibre big" class="carbon_fibre_big textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap checkered_pattern" id="checkered_pattern.png">
                      <img src="/assets/styles/patterns/checkered_pattern.png" alt="checkered pattern" class="checkered_pattern textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap connect" id="connect.png">
                      <img src="/assets/styles/patterns/connect.png" alt="connect" class="connect textureThumb" />
                    </div> <!-- 45 -->
                    
                    <div class="backgroundTexture wrap dark_wood" id="dark_wood.png">
                      <img src="/assets/styles/patterns/dark_wood.png" alt="dark wood" class="dark_wood textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap diagmonds" id="diagmonds.png">
                      <img src="/assets/styles/patterns/diagmonds.png" alt="diagmonds" class="diagmonds textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap elegant_grid" id="elegant_grid.png">
                      <img src="/assets/styles/patterns/elegant_grid.png" alt="elegant grid" class="elegant_grid textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap fake_brick" id="fake_brick.png">
                      <img src="/assets/styles/patterns/fake_brick.png" alt="fake brick" class="fake_brick textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap gun_metal" id="gun_metal.png">
                      <img src="/assets/styles/patterns/gun_metal.png" alt="gun metal" class="gun_metal textureThumb" />
                    </div> <!-- 50 -->
                    
                    <div class="backgroundTexture wrap light_grey_floral_motif" id="light_grey_floral_motif.png">
                      <img src="/assets/styles/patterns/light_grey_floral_motif.png" alt="light grey floral motif" class="light_grey_floral_motif textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap lined_paper" id="lined_paper.png">
                      <img src="/assets/styles/patterns/lined_paper.png" alt="lined_paper" class="lined_paper textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap old_wall" id="old_wall.png">
                      <img src="/assets/styles/patterns/old_wall.png" alt="old wall" class="old_wall textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap polonez_car" id="polonez_car.png">
                      <img src="/assets/styles/patterns/polonez_car.png" alt="polonez car" class="polonez_car textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap px_by_Gre3g" id="px_by_Gre3g.png">
                      <img src="/assets/styles/patterns/px_by_Gre3g.png" alt="px by Gre3g" class="px_by_Gre3g textureThumb" />
                    </div> <!-- 55 -->
                    
                    <div class="backgroundTexture wrap ravenna" id="ravenna.png">
                      <img src="/assets/styles/patterns/ravenna.png" alt="ravenna" class="ravenna textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap ricepaper" id="ricepaper.png">
                      <img src="/assets/styles/patterns/ricepaper.png" alt="ricepaper" class="ricepaper textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap small-crackle-bright" id="small-crackle-bright.png">
                      <img src="/assets/styles/patterns/small-crackle-bright.png" alt="small crackle bright" class="small-crackle-bright textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap soft_kill" id="soft_kill.png">
                      <img src="/assets/styles/patterns/soft_kill.png" alt="soft kill" class="soft_kill textureThumb" />
                    </div>
                    <div class="backgroundTexture wrap xv" id="xv.png">
                      <img src="/assets/styles/patterns/xv.png" alt="xv" class="xv textureThumb" />
                    </div>
                    
                    <!-- 
                    <div class="backgroundTexture wrap" id="cutcube.png">
                      <img src="/assets/styles/patterns/cutcube.png" alt="cutcube" class="cutcube textureThumb" />
                    </div>
                    
                    # -->
                    <br class="clear" />
                  </div> <!-- end #texturesContent -->     
                          
                </div> <!-- end #backgroundTexturesScrollerP -->
              </div> <!-- end .panel-menu -->
              <!-- 
              <div class="panel-menu">
                <label>Repeat</label>
                <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgRepeat" }) do |f| %>
                  <%= f.hidden_field :background_repeat, :class => "background_repeat_val", :value => "" %>
                <% end %>
                <select name="backgroundRepeat" id="backgroundRepeat" class="background">
                  <option value="no-repeat">No Repeat</option>
                  <option value="repeat-x">Repeat Horizontal</option>
                  <option value="repeat-y">Repeat Vertical</option>
                  <option value="repeat">Repeat Both</option>
                </select>
              </div>
              
              <div class="panel-menu">
                <label>Position</label>
                <label>Horinzontal Alignment</label>
                <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgPositionH" }) do |f| %>
                  <%= f.hidden_field :background_pos_h, :class => "background_positionH_val", :value => "" %>
                <% end %>
                <select name="backgroundPositionH" id="backgroundPositionH" class="background position">
                  <option value="left">Left</option>
                  <option value="center">Center</option>
                  <option value="right">Right</option>
                </select>
                
                <label>Vertical Alignment</label>
               <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgPositionV" }) do |f| %>
                  <%= f.hidden_field :background_pos_v, :class => "background_positionV_val", :value => "" %>
                <% end %>
                <select name="backgroundPositionV" id="backgroundPositionV" class="background position">
                  <option value="top">Top</option>
                  <option value="center">Center</option>
                  <option value="bottom">Bottom</option>
                </select>
              </div>
              
              <div class="panel-menu">
                <label>Attachment</label>
               <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgAttachment" }) do |f| %>
                  <%= f.hidden_field :background_attachment, :class => "background_attachment_val", :value => "" %>
                <% end %>
                <select name="backgroundAttachment" id="backgroundAttachment" class="background">
                  <option value="scroll">Scroll</option>
                  <option value="fixed">Fixed</option>
                </select>
              </div>
              -->
      		  </div> <!-- subPanel 2 end-->
      		  <div> <!-- subPanel 3-->
        	    <div class="panel-menu">
        	      
                <label>Upload Image:</label>
                <!-- LOGO FOR THE PORTFOLIO -->	
                <% if @user.background.url.nil? #if user logo is not set %>
                  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
                    <%= f.file_field :background %>
                    	<p class="action">
                  	  <%= submit_tag("Save", :class => 'save')  %>
                  	</p>
                  <% end %>
                <% else #if user logo is set %>
                  <div class="form-wrap image">
                  	<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
                  	  <div class="rowfield">
                  		<div class="edit-btn">Edit</div>
                  		<%= image_tag(@user.background.url.to_s, :width => 200, :id => 'img_bg_val') %>
                  	  </div>
                  	  <div class="row fedit">
                  	  	<%= content_tag(:p, "Custom Background Image /", :class => "tiny") %>
                  		<%= f.file_field :background %>
                  		<p class="action">
                  		  <%= submit_tag("Save", :class => 'save')  %>
                  		  <%= link_to("Cancel", '#', :class => 'fcancel')  %>
                  		</p>
                  	  </div>
                  	<% end %>
                  </div> <!-- END .form-wrap -->
                  <div class="panel-menu">
                    <label>Scaling</label>
                    <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_imgselect themeBgRepeat img" }) do |f| %>
                      <%= f.hidden_field :background_repeat, :class => "background_repeat_val", :value => "" %>
                    <% end %>
                    <input type="radio" name="repeat" id="noRepeat" value="no-repeat" class="backgroundR" />
                    <label for="noRepeat" class="inline">Normal</label>
                    <input type="radio" name="repeat" id="repeatXY" value="repeat" class="backgroundR" />
                    <label for="repeatXY" class="inline">Repeat</label>
                    <input type="radio" name="repeat" id="fullscreen" value="fullscreen" class="backgroundR" />
                    <label for="fullscreen" class="inline">Fullscreen</label>
                  </div>
                  <div class="panel-menu">
                    <button id="set_background_image">Use as Background Image</button>
                  </div>
                <% end # end of if @user.background.url.nil?%>
                
              </div> <!-- end .panel-menu -->
            </div> <!-- end subPanel 3-->
      		</div> <!-- .subPanel -->
                  
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Logos</a>
            <p class="controller-panel-nav-description">Upload your custom logo</p>
          </div>
          <!-- LOGO FOR THE PORTFOLIO -->	
          <% if @user.logo.url.nil? #if user logo is not set %>
            <p class="label tiny">Upload Image: tempo for logo</p>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
              <%= f.file_field :logo %>
              	<p class="action">
            	  <%= submit_tag("Save", :class => 'save')  %>
            	</p>
            <% end %>
          <% else #if user logo is set %>
            <button class="resetLogoPos">Reset Position</button>
            <div class="form-wrap image">
            	<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :multipart => true, :class => "form_proj_image" }) do |f| %>
            	  <div class="rowfield">
            		<div class="edit-btn">Edit</div>
            		<%= image_tag(@user.logo.url(:thumb).to_s, :width => 200) %>
            	  </div>
            	  <div class="row fedit">
            	  	<%= content_tag(:p, "Custom Logo /", :class => "tiny") %>
            		<%= f.file_field :logo %>
            		<p class="action">
            		  <%= submit_tag("Save", :class => 'save')  %>
            		  <%= link_to("Cancel", '#', :class => 'fcancel')  %>
            		</p>
            	  </div>
            	<% end %>
            </div> <!-- END .form-wrap -->
          <% end # end of if @user.logo.url.nil?%>
        </div>
        
        <div class="slideArea">
          <div class="panel-back backNavSliderPanel">
            <div class="panel-icon">&nbsp;</div>
            <a href="#" class="backNavSliderPanel">Fonts</a>
            <p class="controller-panel-nav-description">Choose different font</p>
          </div>
          
          <div class="panel-menu">
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
              <label for="fontFamily">Font Family</label>
              <%= f.hidden_field :font_face, :class => "font_face_val", :value => "" %>
              <select name="fontFamily" id="fontFamily" class="fonts">
                <option value="Montserrat">Montserrat</option>
                <option value="Asap">Asap</option>
                <option value="Chivo">Chivo</option>
                <option value="Rosario">Rosario</option>
                <option value="Sansita+One">Sansita One</option>
                <option value="Unna">Unna</option>
                <option value="AllerRegular">Aller</option>
                <option value="KingthingsPetrockRegular">Kingthings Petrock</option>
                <option value="BallparkWeiner">Ballpark Weiner</option>
                <option value="BebasRegular">Bebas</option>
                <option value="BlackJackRegular">Black Jack Regular</option>
                <option value="CantarellRegular">Cantarell</option>
                <option value="ChunkFiveRoman">Chunk Five</option>
                <option value="ColaborateRegular">Colaborate</option>
                <option value="DanielRegular">Daniel</option>
                <option value="DroidSansRegular">DroidSans</option>
                <option value="ExistenceLight">Existence</option>
                <option value="FFFTusjBold">FFFTusj</option>
                <option value="GoodDogRegular">Good Dog</option>
                <option value="JournalRegular">Journal</option>
                <option value="LearningCurveProRegular">Learning Curve Pro</option>
                <option value="Lobster13Regular">Lobster 13</option>
                <option value="MolotRegular">Molot</option>
                <option value="NeoRetroDrawRegular">Neo Retro Draw</option>
                <option value="OstrichSansMedium">Ostrich Sans</option>
                <option value="PacificoRegular">Pacifico</option>
                <option value="PincoyablackBlack">Pincoya Black</option>
                <option value="PTSansCaptionRegular">PT Sans Caption</option>
                <option value="QuicksandBook">Quicksand Book</option>
                <option value="SansationRegular">Sansation</option>
                <option value="TangerineRegular">Tangerine</option>
                <option value="TitilliumText22LThin">Titillium Text</option>
              </select>
            <% end %>
          </div>
          
          <div class="panel-menu">
      	    <% if @user.font_color.present? %>
      	      <% font_color = @user.font_color %>
      	    <% else %>
      	      <% font_color = "000000" %>
      	    <% end %>
        	  <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
          		<div class="rowfield">
          			<div class="row fview">
            	    <%= f.label(:font_color)%>
            	    <%= f.hidden_field :font_color, :class => "font_color_val", :value => font_color %>
            	    <div id="colorSelectorFont" class="cpicker"><div style="background-color: #<%= font_color %>"></div></div>
                </div>
              </div>
        	  <% end %>
          </div>
          
          <div class="panel-menu">
      	    <% if @user.font_size.present? %>
      	      <% font_size = @user.font_size %>
      	    <% else %>
      	      <% font_size = 12 %>
      	    <% end %>
            <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect font_size_frm" }) do |f| %>
              <label>Font Size</label>
              <div id="slider"></div>
              <span class="fontSize"><%= font_size %></span>px
              <%= f.hidden_field :font_size, :class => "font_size_val", :value => font_size %>
            <% end %>
          </div>
          
        </div>
        
        
      </div> <!-- #navSliderPanel -->
      
    </div>
    
    <% if @sublist %>
    <a href="#Content" title="content panel" name="" class="content accordionH3">Content</a>
    <div> <!-- accordion panel start -->
      <h3>Content for this project</h3>
        <div class="panel-menu content">              
          <%= form_for(:project, :url => {:controller => 'projects', :action => 'update', :id => @project.id, :user_id => @user.id }, :html => { :class => "form_imgselect description" }) do |f| %>
            <%= f.text_area(:description, :class => 'wysiwyg' ) %>
            <%= f.submit %>
          <% end %>
        </div>
        
        <div class="panel-menu options">
    	    <% if @user.description_bg_color.present? %>
    	      <% description_bg_color = @user.description_bg_color %>
    	    <% else %>
    	      <% description_bg_color = "000000" %>
    	    <% end %>
          <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
      	    <%= f.label(:description_bg_color, "Background Color:") %>
      	    <div id="colorSelectorBgDescription" class="cpicker"><div style="background-color: #<%= description_bg_color %>"></div></div>
      	    <%= f.hidden_field :description_bg_color, :class => "bg_color_description_val", :value => "" %>
          <% end %>
          <button id="desc_trans_bg_color" class="transparent_bg_color">Transparent</button>
        </div>
        
        <div class="panel-menu options">
    	    <% if @user.description_font_color.present? %>
    	      <% description_font_color = @user.description_font_color %>
    	    <% else %>
    	      <% description_font_color = "000000" %>
    	    <% end %>
          <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
      	    <%= f.label(:description_font_color, "Font Color:") %>
      	    <div id="colorSelectorFColorDescription" class="cpicker"><div style="background-color: #<%= description_font_color %>"></div></div>
      	    <%= f.hidden_field :description_font_color, :class => "font_color_description_val", :value => "" %>
          <% end %>
        </div>
        
    </div> <!-- accordion panel end -->
    <% end %>
    
    <a href="#aboutPanel" title="about panel" name="" class="about accordionH3">About</a>
    <div> <!-- accordion panel start -->
      <h3>About</h3>
      <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
        <%= f.text_area(:about_user, :class => 'wysiwyg' ) %>
        <%= f.submit %>
      <% end %>
    </div> <!-- accordion panel end -->

    <a href="#footerPanel" title="footer panel" name="" class="footer accordionH3">Footer</a>
    <div> <!-- accordion -->
      
	    <% if @user.footer_bg.present? %>
	      <% footer_bg = @user.footer_bg %>
	    <% else %>
	      <% footer_bg = "000000" %>
	    <% end %>
      <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
  		<div class="rowfield">
  			<div class="row fview">
    	    <%= f.label(:footer_bg, "Footer Background Colour:") %>
    	    <div id="colorSelectorFooter" class="cpicker"><div style="background-color: #<%= footer_bg %>"></div></div>
    	    <%= f.hidden_field :footer_bg, :class => "footer_bg_val", :value => footer_bg %>
        </div>
      </div>   
      <% end %>
      
	    <% if @user.font_color_footer.present? %>
	      <% font_color_footer = @user.font_color_footer %>
	    <% else %>
	      <% font_color_footer = "000000" %>
	    <% end %>
      <%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => { :class => "form_imgselect" }) do |f| %>
  		<div class="rowfield">
  			<div class="row fview">
          	    <%= f.label(:font_color_footer, "Footer Font Colour:") %>
          	    <div id="colorSelectorFooterFontColor" class="cpicker"><div style="background-color: #<%= font_color_footer %>"></div></div>
          	    <%= f.hidden_field :font_color_footer, :class => "font_color_footer_val", :value => font_color_footer %>
        </div>
      </div>   
      <% end %>
               
    </div> <!-- accordion panel end -->
    <a href="#sortPanel" title="sort panel" name="" class="sort accordionH3">Sort</a>
  </div> <!-- #accordion -->
    
</div>  <!-- #dialog -->

<% content_for(:head) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      
      var scrollPane = $( "#backgroundTexturesScrollableP" ), scrollContent = $( "#texturesContent" );
		
  		//build slider
  		var scrollbar = $( "#sliderThemeThumb" ).slider({
  		  orientation: "vertical",
  		  value: 100,
  			slide: function( event, ui ) {
  				if ( scrollContent.height() > scrollPane.height() ) {
  				  orientation: "vertical",
  					scrollContent.css( "margin-top", Math.round(
  						(100 - ui.value) / 100 * ( scrollPane.height() - scrollContent.height() )
  					) + "px" );
  				} else {
  					scrollContent.css( "margin-top", 0 );
  				}
  			}
  		});
      

		});
  </script>
<% end %>