<% @page_title = "View Project: #{@project.title}" %>
<% content_for(:head) do %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
	<%= stylesheet_link_tag "jquery_file_upload/jquery.fileupload-ui.css" %>
	
	<%= javascript_include_tag 'project_js/form' %>
	<%= javascript_include_tag 'project_js/button' %>
	<%= stylesheet_link_tag "proj_style" %>
	<% #sortable images %>
	<script type="text/javascript">

    </script>
    
    
	<%= stylesheet_link_tag "project_js/colorpicker/colorpicker.css" %>
	<%= javascript_include_tag 'project_js/colorpicker/colorpicker.js' %>
	<%= javascript_include_tag 'project_js/colorpicker/eye.js' %>
	<%= javascript_include_tag 'project_js/colorpicker/utils.js' %>
	<%= javascript_include_tag 'project_js/colorpicker/layout.js' %>
    <script type="text/javascript">          
        $('#colorSelector').ColorPicker({
        	color: '#0000ff',
        	onShow: function (colpkr) {
        		$(colpkr).fadeIn(500);
        		return false;
        	},
        	onHide: function (colpkr) {
        		$(colpkr).fadeOut(500);
        		return false;
        	},
        	onChange: function (hsb, hex, rgb) {
        		$('#colorSelector div').css('backgroundColor', '#' + hex);
        	}
        });
    </script>
<% end %>

  
<!-- project images list -->
<div class="project show">
  <h2 class="project-title"><%= @project.title %></h2>
  
  <br /><br />

  
  <!-- embed video -->
  <%= form_for(:video, :url => {:controller => 'videos', :action => 'create', :id => @project.id, :user_id => session[:user_id] }) do |f| %>
    
    Enter the embed code here: <br />
    <%= f.text_area(:video_embed, :cols => 70, :rows => 2, :class => 'field') %> <br />
    <input type="submit" class="embed video" value="embed video">
  <% end %>
  
  <br /> <br />
  
  <% @project_videos.each do |video| %>
    <%= sanitize(video.video_embed, :tags => %W(iframe OBJECT PARAM EMBED ), :attributes => %W(width height src NAME TYPE ShowControls ShowStatusBar ShowDisplay autostart id class style)) %>
  <% end %>
  
  
  <hr />
	
	<h1>Project Specs</h1>
	<div class="info-wrap">
	  <%= render(:partial => 'proj_update' ) %>
	</div>
	
	
	
	<h1>Visibility</h1>
	<div class="info-wrap">
	<div class="form-wrap visible-form">
		<%= form_for(:project, :url => {:action => 'update', :id => @project.id, :user_id => session[:user_id] }, :html => { :class => "form_imgselect" }) do |f| %>
		<%= error_messages_for(@project) %>
		<div class="rowfield">
			<div class="row fview">
				<%= content_tag(:p, "Visible:", :class => "tiny label") %>
				<%= image_tag 'img/visible.png', :class=> 'visible'%>
				<%= image_tag 'img/invisible.png', :class=> 'invisible'%>
				<%= f.hidden_field :visible, :class=> 'isvisible' %>

			</div>
		</div>
		<% end %>
	</div> <!-- END .form-wrap -->
	</div>
	

  <%= link_to("Delete this project", {:action => 'destroy', :id => params[:id]}, :class => 'action delete') %>
  
</div>