<% @page_title = "Porfolio: #{@user.username}" %>
<% content_for(:head) do %>
	<%= stylesheet_link_tag "proj_style" %>
	

	
	<%= stylesheet_link_tag "porfolio_view" %>
	
<% end %>

<% if @user.google_analytics.blank? #put default google analytics if client ga is empty/not set %>
  <% content_for(:before_body_tag) do %>
  	<%= render(:partial => 'shared/ga_default') %>
  <% end %>
<% else %>
  <% content_for(:before_body_tag) do %>
  	<%= render(:partial => 'shared/ga') %>
  <% end %>
<% end %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% # LAYOUT 1 %>
<% if @user.layout_name == "Default" %>
  
  
  <%= render(:partial => 'default_layout' ) %>
  
  <% content_for(:head) do %>
    <%= stylesheet_link_tag "styles/proj_style_default.css" %>
    <%= render(:partial => 'custom_style' ) %>
  <% end %>
  
  <% content_for(:foot) do %>
   <div id="footer_sm">
     <div class="footer_sm_wrap">
       
        <div class="sm-container">
          <div class="fleft smBlock about_footer">
            <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>
          </div>
          <div class="fleft smBlock">    
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="fleft smBlock">
          <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>
          </div>
        </div> <!-- end .sm-container -->
        
        <a href="http://superrrr.com" class="superLink">superrrr.com</a>
        
        <br class="clear" />
        
      </div>  
    </div> <!-- end #footer_sm -->
  <% end %>
    
  <div id="sidebar">
    <%= render(:partial => 'in_header_wrap_ldefault' ) %>
  </div>

  
<% end %>

<% # LAYOUT 2 %>

<% if @user.layout_name == 'Layout 2' %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l2' ) %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    
    
    
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
  
  
  <% if @user.email.present? %>
    <% content_for(:foot) do %>
      <div class="footer"><%= @user.email %></div>
    <% end %>
  <% end %>
<% end %>

<% # LAYOUT 3 %>

<% if @user.layout_name == 'Layout 3' || @user.layout_name.blank? %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l3' ) %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
<% end %>

<% # LAYOUT 5 %>

<% if @user.layout_name == 'Layout 4' %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l4' ) %>
      <%= stylesheet_link_tag "styles/proj_style_l4.css" %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <!-- 
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    -->
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
<% end %>

<% # LAYOUT 5 %>

<% if @user.layout_name == 'Layout 5' %>
  
   <div id="project_images_portf">
     <% @projects.each do |project| %>
       <div class="box">
         <%= link_to image_tag(Project.image_thumbnail(project, true), :width => 300), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
       </div>
     <% end %>
   </div>
   
   <% content_for(:foot) do %>
     <div id="footer_sm">
       <div class="footer_sm_wrap">
         
          <div class="sm-container">
            <div class="fleft smBlock about_footer">
              <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>
            </div>
            <div class="fleft smBlock">    
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="fleft smBlock">
            <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>
            </div>
          </div> <!-- end .sm-container -->
          
          <a href="http://superrrr.com" class="superLink">superrrr.com</a>
          
          <br class="clear" />
          
        </div>  
      </div> <!-- end #footer_sm -->
   <% end %>
   
  <% content_for(:in_header_wrap) do %>
    <%= render(:partial => 'in_header_wrap_l5' ) %>
    <%= javascript_include_tag 'project_js/template5/jquery.masonry.min.js' %>
    <%= javascript_include_tag 'project_js/template5/jquery.imagesloaded.js' %>
    <%= stylesheet_link_tag "styles/proj_style_l5.css" %>    
    <script type="text/javascript">
      $(function(){
        $('#project_images_portf').imagesLoaded(function() {
          $('#project_images_portf').masonry({
            // options
            itemSelector : '.box',
            isAnimated: true
          });
        });
      });
    </script>
    <%= render(:partial => 'custom_style' ) %>
  <% end %>
  
<% end %>

