<% @page_title = "Porfolio: #{@user.username}" %>
<% content_for(:head) do %>
  <% #@sublist %>
  <link href='http://fonts.googleapis.com/css?family=Asap|Chivo|Rosario|Sansita+One|Unna' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "proj_style" %>
	
	<%= stylesheet_link_tag "porfolio_view" %>
	
  <%= stylesheet_link_tag "styles/dark-hive/jquery-ui-1.8.17.custom.css" %> 
  <%= stylesheet_link_tag "project_js/colorpicker/colorpicker.css" %>
  <%= stylesheet_link_tag "styles/proj_style_auto.css" %>
  <%= javascript_include_tag 'project_js/colorpicker/colorpicker.js' %>
  <%= javascript_include_tag 'project_js/colorpicker/eye.js' %>
  <%= javascript_include_tag 'project_js/colorpicker/utils.js' %>
  <%= javascript_include_tag 'project_js/colorpicker/layoutClient.js' %>

  <%= stylesheet_link_tag "project_js/cleditor/jquery.cleditor.css" %>
  <%= javascript_include_tag 'project_js/cleditor/jquery.cleditor.min.js' %>

  <%= javascript_include_tag 'project_js/jquery.cycle.lite.js' %>
  
  <%= javascript_include_tag 'project_js/formClient' %>
  <%= javascript_include_tag 'project_js/form' %>
  
  <script type="text/javascript">
  $(document).ready(function() {
    $.cleditor.defaultOptions.controls = "bold italic underline strikethrough";
    $(".wysiwyg").cleditor( {
          width:        260, // width not including margins, borders or padding
          height:       200, // height not including margins, borders or padding
          controls:     // controls to add to the toolbar
                        "bold italic underline style bullets numbering link unlink ", 
          styles:       // styles in the style popup
                        [["Paragraph", "<p>"], ["Header 2", "<h2>"],
                        ["Header 3", "<h3>"],  ["Header 4","<h4>"],  ["Header 5","<h5>"],
                        ["Header 6","<h6>"]],
          useCSS:       false, // use CSS to style HTML when possible (not supported in ie)
          docType:      // Document type contained within the editor
                        '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">',
          docCSSFile:   // CSS file used to style the document contained within the editor
                        "", 
          bodyStyle:    // style to assign to document body contained within the editor
                        "margin:4px; font:10pt Arial,Verdana; cursor:text"
        } );
  });
  </script>
	
<% end %>

<% if @user.google_analytics.blank? #put default google analytics if client ga is empty/not set %>
  <% content_for(:before_body_tag) do %>
  	<%= render(:partial => 'shared/ga_default') %>
  <% end %>
<% else %>
  <% content_for(:before_body_tag) do %>
  	<%= render(:partial => 'shared/ga') %>
  <% end %>
<% end %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% # LAYOUT 1 %>
<% if @user.layout_name == "Default" %>
  
  
  <%= render(:partial => 'default_layout' ) %>
  
  <% content_for(:head) do %>
    <%= stylesheet_link_tag "styles/proj_style_default.css" %>
    <%= render(:partial => 'custom_style' ) %>
  <% end %>
  
  <% content_for(:foot) do %>
   <div id="footer_sm">
     <div class="footer_sm_wrap">
       
        <div class="sm-container">
          <div class="fleft smBlock about_footer">
            <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>
          </div>
          <div class="fleft smBlock">    
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="fleft smBlock">
            <g:plusone size="medium" annotation="none"></g:plusone>

            <script type="text/javascript">
              window.___gcfg = {
                lang: 'en-US'
              };
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </div>
          <div class="fleft smBlock">
          <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>
          </div>
        </div> <!-- end .sm-container -->
        
        <a href="http://superrrr.com" class="superLink">superrrr.com</a>
        
        <br class="clear" />
        
      </div>  
    </div> <!-- end #footer_sm -->
  <% end %>
    
  <div id="sidebar">
    <%= render(:partial => 'in_header_wrap_ldefault' ) %>
  </div>

  
<% end %>

<% # LAYOUT 2 %>

<% if @user.layout_name == 'Layout 2' %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l2' ) %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    
    
    
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
  
  
  <% if @user.email.present? %>
    <% content_for(:foot) do %>
      <div class="footer"><%= @user.email %></div>
    <% end %>
  <% end %>
<% end %>

<% # LAYOUT 3 %>

<% if @user.layout_name == 'Layout 3' || @user.layout_name.blank? %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l3' ) %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
<% end %>

<% # LAYOUT 5 %>

<% if @user.layout_name == 'Layout 4' %>
    <% content_for(:in_header_wrap) do %>
      <%= render(:partial => 'in_header_wrap_l4' ) %>
      <%= stylesheet_link_tag "styles/proj_style_l4.css" %>
      <%= render(:partial => 'custom_style' ) %>
    <% end %>
    
  <div class="project list">
    <!-- 
    <% if @user.id.to_i == session[:user_id].to_i %>
      <span class="edit project"><%= link_to("Edit Projects", "http://ngtv2.info/mine")%></span>
    <% end %>
    -->
  <br style="clear:both;" />
  
  <% @projects.each do |project| %>
  	<div class="project-thumb">
  		<%= link_to image_tag(Project.image_thumbnail(project)), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
  		<p style="text-align: center;"><%= project.title %> </p>
  	</div>
  <% end %>
  <br style="clear:both;" />
  
  </div>
<% end %>

<% # LAYOUT 5 %>

<% if @user.layout_name == 'Layout 5' %>
  
   <div id="project_images_portf">
     <% @projects.each do |project| %>
       <div class="box">
         <%= link_to image_tag(Project.image_thumbnail(project, true), :width => 300), Project.subdomain_url(@user.subdomain_name, "/project/?id=#{project.id}"), :class => 'thumbnail' %>
       </div>
     <% end %>
   </div>
   
   <% content_for(:foot) do %>
     <div id="footer_sm">
       <div class="footer_sm_wrap">
         
          <div class="sm-container">
            <div class="fleft smBlock about_footer">
              <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>
            </div>
            <div class="fleft smBlock">    
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="fleft smBlock">
            <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>
            </div>
          </div> <!-- end .sm-container -->
          
          <a href="http://superrrr.com" class="superLink">superrrr.com</a>
          
          <br class="clear" />
          
        </div>  
      </div> <!-- end #footer_sm -->
   <% end %>
   
  <% content_for(:in_header_wrap) do %>
    <%= render(:partial => 'in_header_wrap_l5' ) %>
    <%= javascript_include_tag 'project_js/template5/jquery.masonry.min.js' %>
    <%= javascript_include_tag 'project_js/template5/jquery.imagesloaded.js' %>
    <%= stylesheet_link_tag "styles/proj_style_l5.css" %>    
    <script type="text/javascript">
      $(function(){
        $('#project_images_portf').imagesLoaded(function() {
          $('#project_images_portf').masonry({
            // options
            itemSelector : '.box',
            isAnimated: true
          });
        });
      });
    </script>
    <%= render(:partial => 'custom_style' ) %>
  <% end %>
  
<% end %>



<% #=================================================== SHOW CONTROLLER PANEL ============================================= %>
<% if @user.id.to_i == session[:user_id].to_i %>
  <% content_for(:before_body_tag) do %>
    <%= render (:partial => 'shared/panel_controller' ); %>
  <% end %>
<% end %>

