<% @page_title = "View Project: #{@project.title}" %>
<% # identify page for shared/panel_controller %>
<% @sublist = true %>

<% content_for(:head) do %>
<% #@list %>
<link href='http://fonts.googleapis.com/css?family=Asap|Chivo|Rosario|Sansita+One|Unna' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "proj_style" %>

<%= stylesheet_link_tag "porfolio_view" %>
  <%= javascript_include_tag 'project_js/clientscriptpublic' %>
  <%= javascript_include_tag 'project_js/jquery.backstretch.min.js' %>
  
  <% if @user.id.to_i == session[:user_id].to_i %>
    <%= stylesheet_link_tag "styles/dark-hive/jquery-ui-1.8.17.custom.css" %> 
    <%= stylesheet_link_tag "project_js/colorpicker/colorpicker.css" %>
    <%= stylesheet_link_tag "styles/proj_style_auto.css" %>
    <%= javascript_include_tag 'project_js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag 'project_js/colorpicker/eye.js' %>
    <%= javascript_include_tag 'project_js/colorpicker/utils.js' %>
    <%= javascript_include_tag 'project_js/colorpicker/layoutClient.js' %>
    
    <%= stylesheet_link_tag "project_js/cleditor/jquery.cleditor.css" %>
    <%= javascript_include_tag 'project_js/cleditor/jquery.cleditor.min.js' %>
  
    
    <%= javascript_include_tag 'project_js/jquery.cycle.lite.js' %>
    
    <% # javascript_include_tag 'project_js/assetLoader' %>
    
    <%= javascript_include_tag 'project_js/formClient' %>
    <%= javascript_include_tag 'project_js/form' %>
    
    <script type="text/javascript">
    $(document).ready(function() {
      $.cleditor.defaultOptions.controls = "bold italic underline strikethrough";
      $(".wysiwyg").cleditor( {
            width:        260, // width not including margins, borders or padding
            height:       200, // height not including margins, borders or padding
            controls:     // controls to add to the toolbar
                          "bold italic underline style bullets numbering link unlink", 
            styles:       // styles in the style popup
                          [["Paragraph", "<p>"], ["Header 2", "<h2>"],
                          ["Header 3", "<h3>"],  ["Header 4","<h4>"],  ["Header 5","<h5>"],
                          ["Header 6","<h6>"]],
            useCSS:       false, // use CSS to style HTML when possible (not supported in ie)
            docType:      // Document type contained within the editor
                          '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">',
            docCSSFile:   // CSS file used to style the document contained within the editor
                          "", 
            bodyStyle:    // style to assign to document body contained within the editor
                          "margin:4px; font:10pt Arial,Verdana; cursor:text"
          } );
    });
    </script>
    
    
  <% end %>


  <% if @user.layout_name == 'Default' %>

    <%= stylesheet_link_tag "styles/proj_style_default.css" %>

       

  <% elsif @user.layout_name == 'Layout 2' %>

    <%= stylesheet_link_tag "styles/proj_style_l2.css" %>

    <%= javascript_include_tag "project_js/jquery.hoverflow.min.js" %>

    <%= render(:partial => 'project_template_long' ) %>

    

  <% elsif @user.layout_name == 'Layout 3' || @user.layout_name.blank? %>

  

    <%= stylesheet_link_tag "styles/proj_style_l3.css" %>

    

	<%= javascript_include_tag 'project_js/template3add-gallery/jquery.ad-gallery.js' %>

	

	<%= stylesheet_link_tag "project_js/template3add-gallery/jquery.ad-gallery.css" %>



    <script type="text/javascript">

    $(function() {

      //$('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');

      //$('img.image1').data('ad-title', 'Title through $.data');

      //$('img.image4').data('ad-desc', 'This image is wider than the wrapper, so it has been scaled down');

      //$('img.image5').data('ad-desc', 'This image is higher than the wrapper, so it has been scaled down');

      var galleries = $('.ad-gallery').adGallery();

      $('#switch-effect').change(

        function() {

          galleries[0].settings.effect = $(this).val();

          return false;

        }

      );

      $('#toggle-slideshow').click(

        function() {

          galleries[0].slideshow.toggle();

          return false;

        }

      );

      $('#toggle-description').click(

        function() {

          if(!galleries[0].settings.description_wrapper) {

            galleries[0].settings.description_wrapper = $('#descriptions');

          } else {

            galleries[0].settings.description_wrapper = false;

          }

          return false;

        }

      );

    });

    </script>

  

    <style type="text/css">

      .ad-gallery {

        background: #000000;

        padding: 5px 30px 15px 30px;

        margin: 0 0 30px 0;

	    -webkit-border-radius: 0 0 10px 10px;

	    -moz-border-radius: 0 0 10px 10px;

	    border-radius: 0 0 10px 10px;

      }

    </style>

  

  <% elsif @user.layout_name == 'Layout 4' %>

	<%= javascript_include_tag 'project_js/template4/jquery.easing.1.3.js' %>	

	<%= javascript_include_tag 'project_js/template4/jquery.cssAnimate.mini.js' %>	

	<%= javascript_include_tag 'project_js/template4/jquery.waitforimages.js' %>

	<%= javascript_include_tag 'project_js/template4/jquery.touchwipe.min.js' %>

	<%= javascript_include_tag 'project_js/template4/jquery.themepunch.kenburn.min.js' %>	

  <%= stylesheet_link_tag "project_js/template4/settings.css" %>

  <%= stylesheet_link_tag "project_js/template4/style.css" %>

  <%= stylesheet_link_tag "styles/proj_style_l4.css" %>

    

  <% elsif @user.layout_name == 'Layout 5' %>

  

    <%= javascript_include_tag 'project_js/template5/jquery.masonry.min.js' %>

    <%= javascript_include_tag 'project_js/template5/jquery.imagesloaded.js' %>

    <%= stylesheet_link_tag "project_js/template5/colorbox.css" %>

    <%= javascript_include_tag 'project_js/template5/jquery.colorbox-min.js' %>

    

    <%= stylesheet_link_tag "styles/proj_style_l5.css" %>

    

    <script type="text/javascript">

      $(function(){

        $('#project_images_portf .group1').colorbox({

            rel:'gal', 

            scalePhotos: true,

            maxWidth: "95%",

            maxHeight: "95%",

            speed: 550,

            overlayClose: false,

            slideshow: true,

            slideshowSpeed: 7000,

            slideshowStart: 'resume',

            slideshowStop: 'pause'

        });

        

        $('#project_images_portf').imagesLoaded(function() {

          $('#project_images_portf').masonry({

            // options

            itemSelector : '.box',

            isAnimated: true

          });

        });

      });

    </script>



  <% end %>  

    <%= render(:partial => 'custom_style' ) %>

<% end %>



  <% if @user.layout_name == 'Default' # only show this area if layout 1/default isset %>
    <% if @project.description.present? %>
      <%= form_for(:project, :url => {:controller => 'projects', :action => 'update', :id => @project.id, :user_id => @user.id }, :html => { :class => "form_imgselect projDescriptionXYPos" }) do |f| %>
        <%= f.hidden_field :proj_description_left, :class => "proj_description_left_pos_val left_pos_val", :value => "" %>
        <%= f.hidden_field :proj_description_top, :class => "proj_description_top_pos_val top_pos_val", :value => "" %>
      <% end%>
      <%= form_for(:project, :url => {:controller => 'projects', :action => 'update', :id => @project.id, :user_id => @user.id }, :html => { :class => "form_imgselect projDescriptionXYSize" }) do |f| %>
        <%= f.hidden_field :description_width, :class => "description_width_val width_size_val", :value => "" %>
        <%= f.hidden_field :description_height, :class => "description_height_val height_size_val", :value => "" %>
      <% end%>
      <div id="project_description_wrap">
        <%= @project.description.html_safe %>
      </div>
    <% end %>
    <% content_for(:foot) do %>

     <div id="footer_sm">

       <div class="footer_sm_wrap">

         

          <div class="sm-container">

            <div class="fleft smBlock about_footer">

              <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>

            </div>

            <div class="fleft smBlock">    

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>

            <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>



            <div class="fleft smBlock">

            <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>

            </div>

          </div> <!-- end .sm-container -->

          

          <a href="http://superrrr.com" class="superLink">superrrr.com</a>

          

          <br class="clear" />

          

        </div>  

      </div> <!-- end #footer_sm -->

    <% end %>
    
      <!-- sidebar -->
      <%= render(:partial => 'in_header_wrap_ldefault' ) %>



    <div id="images-container">

    	<% @project_images.each do |image| %>

    	  <div class="image-block">

    	  	<div class="image-holder-thumb">

    	  		<%= image_tag( image.carimage_url.to_s ) %>

    	  	</div>

    	  	<%= image.caption %>

    	  </div>

    	<% end %>

    	<br style="clear: both;" />

    </div>

    

    <div id="project-description">

      <p class="showProjDescription">Project Description</p>

    	<h2>Title: <%= @project.title %></h2>

    	<h2>Website: <%= @project.project_url %></h2>

    	<h2>Client: <%= @project.client %></h2>

    	<h2>Tags: <%= @project.project_category %></h2>

    </div>

    

  <% end %>

  

  <script type="text/javascript">

  $(".showProjDescription").click(function() {

    $(this).parent().animate({

      left: '50%',

      top: '200px'

    }, 1000);

  });

  </script>

  

  

  <% if @user.layout_name == 'Layout 2' # only show this area if layout 2 isset %>

  <a href="#" class="showhide header">Show / Hide Header</a>

    <% content_for(:in_header_wrap) do %>

      <%= render(:partial => 'in_header_wrap_l2' ) %>

    <% end %>

    

	<!--Thumbnail Navigation-->

	<div id="prevthumb"></div>

	<div id="nextthumb"></div>

	

	<!--Arrow Navigation-->

	<a id="prevslide" class="load-item"></a>

	<a id="nextslide" class="load-item"></a>

	

	<div id="thumb-tray" class="load-item">

		<div id="thumb-back"></div>

		<div id="thumb-forward"></div>

	</div>

	

	<!--Time Bar-->

	<div id="progress-back" class="load-item">

		<div id="progress-bar"></div>

	</div>

	

	<!--Control Bar-->

	<div id="controls-wrapper" class="load-item">

		<div id="controls">

			

			<a id="play-button"><%= image_tag("supersized/img/pause.png", :id => "pauseplay") %> <!-- <img id="pauseplay" src="img/pause.png"/> --></a>

		

			<!--Slide counter-->

			<div id="slidecounter">

				<span class="slidenumber"></span> / <span class="totalslides"></span>

			</div>

			

			<!--Slide captions displayed here-->

			<!-- <div id="slidecaption">Image</div> -->

			

			<!--Thumb Tray button-->

			<a id="tray-button"><%= image_tag("supersized/img/button-tray-up.png", :id => "tray-arrow") %> <!-- <img id="tray-arrow" src="img/button-tray-up.png"/> --></a>

			

			<!--Navigation-->

			<ul id="slide-list"></ul>

			

		</div>

	</div>

  <% end %>

  

  

  

  

  

  <% if @user.layout_name == 'Layout 3' || @user.layout_name.blank? # only show this area if layout 3 isset %>

    <div>

	    <h1 id="project_title"><%= @project.title %></h1>

		<div id="gallery" class="ad-gallery">

		  <div class="ad-image-wrapper">

		  </div>

		  <div class="ad-controls">

		  </div>

		  <div class="ad-nav">

		    <div class="ad-thumbs">

		      <ul class="ad-thumb-list">

		      	<% @project_images.each_with_index do |image, index| %>

		          <li>

		            <a href="<%= image.carimage_url.to_s %>">

		              <%= image_tag( image.carimage_url.to_s, :class => "slider-thumb image" + index.to_s, :alt => "#{image.caption}") %>

		            </a>

		          </li>

		        <% end %>

		      </ul>

		    </div>

		  </div>

		</div>

	</div> <!-- div -->

	

	<div id="project-details">

		

	  <% if @project.description.present? %>

	  <!-- project description -->

	  <span class="row description">

		<label>Description</label>

		<span class="content"><p><%= @project.description %></p></span>

		<div class="clear"></div>

	  </span>

	  <% end %>

	  

	  <!--  client for this project -->

	  <% if @project.client.present? %>

	  <!-- project site -->

	  <span class="row description">

		<label>Client</label>

		<span class="content"><p><%= @project.client %></p></span>

		<div class="clear"></div>

	  </span>

	  <% end %>

	  

	  <% if @project.project_url.present? %>

	  <!-- project site -->

	  <span class="row description">

		<label>Website</label>		

		<span class="content"><p><%= link_to(@project.project_url, validate_url(@project.project_url) ) %></p></span>

		<div class="clear"></div>

	  </span>

	  <% end %> 

	  

	</div><!-- END project-details  -->

	

  



  <% end %>

  

  <% if @user.layout_name == 'Layout 4' # only show this area if layout 4 isset %>

    <% content_for(:in_header_wrap) do %>

      <%= render(:partial => 'in_header_wrap_l4' ) %>

    <% end %>

  

    <div id="banner-example-1" class="dark" >

    	<ul>

            <% @project_images.each do |image| %>

            <li data-transition="slide" data-startalign="left,bottom" data-zoom="in" data-zoomfact="2" data-endAlign="center,center" data-panduration="15" data-colortransition="4"><img src="<%= image.carimage_url.to_s %>" data-bw="" data-thumb="<%= image.carimage_url(:thumb).to_s %>" data-thumb_bw="<%= image.carimage_url(:thumb).to_s %>">

            		<div  class="creative_layer">			

            		</div>

            </li>	

            <% end %>

    	</ul>

    </div>		<!-- THE END OF THE BANNER EXMAPLE -->

    

    <% content_for(:head) do %>

	<!-- LOADING THE GOOGLE FONTS HERE, If no Google Fonts Needed, set families like: families:['']  !! -->

	<script type="text/javascript">

      WebFontConfig = {

        google: { families: [ 'PT+Sans+Narrow:400,700' ] },

		active: function() { jQuery('body').data('googlefonts','loaded');},

		inactive: function() { jQuery('body').data('googlefonts','loaded');}

      };	  

    </script>

    <% end %>

  

    <% content_for(:foot) do%>

        <script type="text/javascript">

        	 

        	$(document).ready(function() {

        	    

				 (function() {

					var wf = document.createElement('script');

					wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +

						'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';

					wf.type = 'text/javascript';

					wf.async = 'true';

					var s = document.getElementsByTagName('script')[0];

					s.parentNode.insertBefore(wf, s);

				 })();

				 

        		$.noConflict();					 									

        		

        		jQuery('#banner-example-1').kenburn(

        			{										

        				width:840,

        				height:450,

        				

        				thumbWidth:120,

        				thumbHeight:70,

        				thumbAmount:6,							

        				thumbSpaces:0,

        				thumbPadding:9,

        				

        				shadow:'false',

        				

        				parallaxX:400,

        				parallaxY:10,

        				captionParallaxX:-40,

        				captionParallaxY:2,

        				

        				touchenabled:'on',

        				pauseOnRollOverThumbs:'off',

        				pauseOnRollOverMain:'on',

        				

        				timer:10

        			});

            });

        </script>

    <% end %>

    

  <% end %>

  

  <% ############################################################################################################################################# %>

   

  <% if @user.layout_name == 'Layout 5' # only show this area if layout 5 isset %>

   <div id="project_images_portf">

     <% @project_images.each do |image| %>

       <div class="box">

         <a class="group1" href="<%= image.carimage_url.to_s %>" ><%= image_tag(image.carimage_url.to_s, :width => 190) %></a>

       </div>

     <% end %>

   </div>

   

   <% content_for(:foot) do %>

     <div id="footer_sm">

       <div class="footer_sm_wrap">

         

          <div class="sm-container">

            <div class="fleft smBlock about_footer">

              <%= link_to "About", Project.subdomain_url(@user.subdomain_name, "/about") %>

            </div>

            <div class="fleft smBlock">    

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ngtv2" data-lang="en" data-count="none">Tweet</a>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>

            <div class="fleft smBlock">

            <fb:like send="true" layout="button_count" width="100" show_faces="false" data-size="large" font="arial"></fb:like>

            </div>

          </div> <!-- end .sm-container -->

          

          <a href="http://superrrr.com" class="superLink">superrrr.com</a>

          

          <br class="clear" />

          

        </div>  

      </div> <!-- end #footer_sm -->

   <% end %>

   

  <% content_for(:in_header_wrap) do %>
  
    <%= render(:partial => 'in_header_wrap_l5' ) %>
  
  <% end %>

   

  <% end %>

    
  <% #=================================================== SHOW CONTROLLER PANEL ============================================= %>
  <% if @user.id.to_i == session[:user_id].to_i %>
    <% content_for(:foot) do %>
      <%= render (:partial => 'shared/panel_controller' ); %>
    <% end %>
  <% end %>
